body{
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(BG.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}
nav{
    display: flex;
    padding-left: 2%;
    padding-right: 2%;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}
nav p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    color: white;
}
.navigationbar{
    flex: 1;
    text-align: right;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.navigationbar ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position:relative;
}
.navigationbar ul li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
}
.navigationbar ul li a:hover{
    color: tomato;
    transition: 0.5s;
}
.navigationbar ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    display: block;
    background: tomato;
    margin: auto;
    transition: 0.5s;
}
.navigationbar ul li:hover::after{
    width: 100%;
}
.textbox {
    margin: auto;
    width: 70%;
    background-color: rgba(0,0,0,0.50);
    padding-bottom: 1px;
}
.textbox h1{
    font-size: 60px;
    color: white;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.textbox img{
    height: 350px;
    width: 500px;
    padding-top: 50px;
}
.textbox h2{
    font-size: 50px;
    color: white;
    text-align: left;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.textbox p{
    font-size: 35px;
    color: white;
    text-align: left;
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.textbox ul{
    font-size: 35px;
    color: white;
    text-align: left;
    padding-left: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.SpecialWords {
    color:tomato;
}